[package]
name = "hello_world"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.sycamore]
git = "https://github.com/sycamore-rs/sycamore.git"
tag = "0.9.0-beta.1"
